<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List - Nanourl</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
        body {
            max-width: 1000px;
        }

        table {
            overflow-x: auto;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>Code</th>
            <th>Target</th>
            <th>Create At</th>
            <th>Expire At</th>
            <th>Operation</th>
        </tr>
        {{range .list}}
        <tr>
            <td><a href="{{$.base_url}}{{.ShortCode}}">{{.ShortCode}}</a></td>
            <td><a href="{{.LongURL}}">{{.LongURL}}</a></td>
            <td>{{time_f .CreateTime}}</td>
            <td>{{null_time_f .ExpireTime}}</td>
            <td>
                <a href="log?id={{.Id}}">Log ({{index $.logc .Id}})</a>
                {{if .Enabled}}
                <a href="#">Disable</a>
                {{else}}
                <a href="#">Enable</a>
                {{end}}
            </td>
        </tr>
        {{end}}
    </table>
</body>

</html>