<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List - Nanourl</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <table>
        <tr>
            <th>Code</th>
            <th>Target</th>
            <th>Create At</th>
            <th>Operation</th>
        </tr>
        {{range .list}}
        <tr>
            <td>{{.ShortCode}}</td>
            <td>{{.LongURL}}</td>
            <td>{{timef .CreateTime}}</td>
            <td>
                <a href="log?id={{.Id}}">Log</a>
            </td>
        </tr>
        {{end}}
    </table>
</body>
</html>