<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List - Nanourl</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>List of Urls</h1>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Target</th>
                        <th scope="col">Create At</th>
                        <th scope="col">Expire At</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .list}}
                    <tr>
                        <td><a href="{{$.base_url}}{{.ShortCode}}">{{.ShortCode}}</a></td>
                        <td><a href="{{.LongURL}}">{{.LongURL}}</a></td>
                        <td>{{time_f .CreateTime}}</td>
                        <td>{{null_time_f .ExpireTime}}</td>
                        <td>
                            <a href="log?id={{.Id}}">Log ({{index $.logc .Id}})</a>
                            {{if .Enabled}}
                            <a href="#">Disable</a>
                            {{else}}
                            <a href="#">Enable</a>
                            {{end}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>