<div class="container" x-data="data()">
    <div class="m-2">
        <div class="field">
            <label class="label">Long Url</label>
            <div class="control">
                <textarea class="textarea" x-model="long_url"></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Short Code</label>
            <div class="control">
                <input class="input" type="text" x-model="short_code" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label">Expire At</label>
            <div class="control">
                <input class="input" type="text" x-model="expire_at">
            </div>
        </div>

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" x-model="link_enabled">
                Enabled
            </label>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" @click="update_link">Update</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.title = "Edit - Nanourl";
    function data() {
        return {
            id: 0,
            long_url: '',
            short_code: '',
            expire_at: '',
            link_enabled: '',
            init: function () {
                this.id = get_page_param("id", 1);
                if (this.id > 0)
                    this.load_data(this.id);
                else
                    window.location = '/admin/url';
            },
            load_data: function (url_id) {
                fetch(`/admin/api/url_info?id=${url_id}`).
                    then(resp => resp.json()).
                    then(res => {
                        this.long_url = res.long_url;
                        this.short_code = res.short_code;
                        this.link_enabled = res.enabled;
                        if (res.expired_time > 0)
                            this.expire_at = format_ts(res.expired_time);
                    }).
                    catch(err => alert(err));
            },
            update_link: function () {
                if (this.long_url == '')
                    return;

                var expire_ts = 0;
                if (this.expire_at != '') {
                    expire_ts = Date.parse(this.expire_at);
                    if (isNaN(expire_ts)) {
                        alert('expire time cannot parsed.');
                        return;
                    }
                    expire_ts = expire_ts / 1000;
                }
                const fd = new FormData();
                fd.append('id',this.id);
                fd.append('long_url', this.long_url);
                fd.append('enabled',this.link_enabled);
                fd.append('expire',expire_ts);
                
                fetch('/admin/api/url', {
                    method: 'PUT',
                    body: fd,
                })
                    .then(res => res.text())
                    .then(res => {
                        alert("OK");
                        window.location = '/admin/url';
                    })
                    .catch(err => alert(err));
            }
        }
    }
</script>