<div class="container" x-data="data()">
    <h1 class="is-size-1">List of URLs</h1>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Target</th>
                    <th>Click</th>
                    <th>Create At</th>
                    <th>Expired At</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="item in table.list">
                    <tr>
                        <td><a :href="item.href_link" x-text="item.short_code"></a></td>
                        <td><a :href="item.long_url" x-text="item.long_url"></a></td>
                        <td><a :href="`log?id=${item.id}`" x-text="item.click_count"></a></td>
                        <td x-text="format_ts(item.create_time)"></td>
                        <td x-text="item.expire_time == 0?'Never':format_ts(item.expire_time)"></td>
                        <td>
                            <button class="button" x-text="item.enabled?'Disable':'Enable'"></button>
                            <button class="button">Edit</button>
                            <button class="button">Delete</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>

<script>
    document.title = "URLs - Nanourl";
    function data() {
        return {
            table: {
                list: [],
                page: 1,
                page_size: 10,
                total_rows: 0,
            },
            init: function () {
                let params = (new URL(document.location)).searchParams;
                let page = params.get("page");
                let page_size = params.get("size");
                page = page ? page : 1;
                page_size = page_size ? page_size : 10;
                this.load_data(page, page_size);
            },
            load_data: function (page, size) {
                fetch(`api/url?page=${page}&size=${size}`).
                    then(resp => resp.json()).
                    then(res => this.table = res).
                    catch(err => alert(err));
            },
            format_ts: function (timestamp) {
                const pad2 = (num) => num < 10 ? '0' + num : num;
                let date = new Date(timestamp * 1000);
                let year = date.getFullYear();
                let month = pad2(date.getMonth() + 1);
                let day = pad2(date.getDate());
                let hour = pad2(date.getHours());
                let minute = pad2(date.getMinutes());
                let second = pad2(date.getSeconds());
                return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
            }
        }
    }
</script>