<div class="container" x-data="data()">
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Country</th>
                    <th>Referrer</th>
                    <th>UserAgent</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="item in table.list">
                    <tr>
                        <td x-text="format_ts(item.access_time)"></td>
                        <td x-text="item.user_ip"></td>
                        <td>
                            <span x-text="item.country_emoji"></span>
                            <span x-text="item.country_name"></span>
                        </td>
                        <td x-text="item.referrer"></td>
                        <td x-text="item.user_agent"></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>

<script>
    document.title = "Logs - Nanourl";
    function data() {
        return {
            table: {
                list: [],
                page: 1,
                page_size: 10,
                total_rows: 0,
            },
            init: function () {
                let page = get_page_param("page", 1);
                let page_size = get_page_param("size", 10);
                let id = get_page_param("id", 0);
                this.load_data(id, page, page_size);
            },
            load_data: function (id, page, size) {
                fetch(`/admin/api/log?id=${id}&page=${page}&size=${size}`).
                    then(resp => resp.json()).
                    then(res => this.table = res).
                    catch(err => alert(err));
            }
        }
    }
</script>