<div class="container">
    <h1>Access Log</h1>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Country</th>
                    <th>Referrer</th>
                    <th>UserAgent</th>
                </tr>
            </thead>
            <tbody>
                {{range .list}}
                <tr>
                    <td>{{time_f .AccessTime}}</td>
                    <td>{{.UserIp}}</td>
                    <td>{{.UserCountry}}</td>
                    <td>{{.Referrer}}</td>
                    <td>{{.UserAgent}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.title="Logs - Nanourl";
</script>